In [1]:
# variable decleare
a = 10

print(type(a))

<class 'int'>

In [2]:
# multiple variable decleare
num = 10
name = "Ankit"
salary = 2500.25
print(type(num))
print(type(name))
print(type(salary))

<class 'int'>
<class 'str'>
<class 'float'>

In [1]:
# Standard data types

    # 1) numberic  ---> (interger, complex number, float)
    # 2) Dictionary  
    # 3) bool
    # 4) Set  ---> (String, List, Tuple)
    # 5) Sequence type

In [4]:
# integer
a = 10

# float
b = 20.3

# complex number
c = 3 + 1j

print(type(a))
print(type(b))
print(type(c))

# checking c is complex number or not
print(isinstance(c, complex))

<class 'int'>
<class 'float'>
<class 'complex'>
True

In [5]:
# sting 
name = "Ankit"
intro = '''This is 
Ankit lovanshi'''

print(name)
print(intro)

Ankit
This is
Ankit lovanshi

In [9]:
# scling
print(intro[0:4])

# access by index
print(intro[0])

# printing the string twice
print(name * 2)

#printing the concatenation of str1 and str2 
print(name + intro)

This
T
AnkitAnkit
AnkitThis is
Ankit lovanshi

In [13]:
# list declearation
list1 = ['ankit', 23, 5000, 5.4]
list2 = ['Sourabh', 21, 5000, 5.3]
list1

['ankit', 23, 5000, 5.4]

In [17]:
# access
# index
print(list1[0])

# sclicing
print(list1[0:2])

# concatenate
print(list1 + list2)

# operatore
print(list1 * 3)

ankit
['ankit', 23]
['ankit', 23, 5000, 5.4, 'Sourabh', 21, 5000, 5.3]
['ankit', 23, 5000, 5.4, 'ankit', 23, 5000, 5.4, 'ankit', 23, 5000, 5.4]

In [19]:
# check the object
print(type(list1))

<class 'list'>

In [25]:
# tuple
# tuple declearation
tup  = ("hi", "Python", 2)    

# type check
print(type(tup))

# print tuple
print(tup)

# sclicing
print(tup[0:2])

# indexing
print(tup[0])

<class 'tuple'>
('hi', 'Python', 2)
('hi', 'Python')
hi

In [27]:
# Dictionary
dict1 = {
    'name' : ['Ankit', 'Karuna', 'Sourabh', 'Raj'],
    'age' : [23, 20, 21, 19],
    'city' : ['Indore', 'Bhopal', 'Dhar', 'Indore']
}
dict1

{'name': ['Ankit', 'Karuna', 'Sourabh', 'Raj'],
 'age': [23, 20, 21, 19],
 'city': ['Indore', 'Bhopal', 'Dhar', 'Indore']}

In [28]:
# add new key
dict1['Salary'] = [25000, 20000, 30000, 26000]
dict1

{'name': ['Ankit', 'Karuna', 'Sourabh', 'Raj'],
 'age': [23, 20, 21, 19],
 'city': ['Indore', 'Bhopal', 'Dhar', 'Indore'],
 'Salary': [25000, 20000, 30000, 26000]}

In [31]:
# update dictionary
dict1['Salary'] = [25000]
dict1

{'name': ['Ankit', 'Karuna', 'Sourabh', 'Raj'],
 'age': [23, 20, 21, 19],
 'city': ['Indore', 'Bhopal', 'Dhar', 'Indore'],
 'Salary': [25000]}

In [33]:
dict1['Salary'] = [25000, 20000, 30000, 26000]
dict1

{'name': ['Ankit', 'Karuna', 'Sourabh', 'Raj'],
 'age': [23, 20, 21, 19],
 'city': ['Indore', 'Bhopal', 'Dhar', 'Indore'],
 'Salary': [25000, 20000, 30000, 26000]}